@import "tailwindcss";
/* src/index.css */
/* src/index.css or main.css */
html {
    scroll-behavior: smooth;
  }
.kore-chat-window, .kore-chat-window-main-section{
    z-index: 999999 !important;
    position: fixed !important;
}



